@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body, html {
	height: 100%;
	margin: 0;
	background-color: #1c0808;
  	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	position: absolute;
	top: 0;
	width: 80%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
	float: left;
}

img {
	width:100%;
    max-width:150px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slogo {
	display: inline-block;
	margin-left: 70px;
	padding-top: 23px;
	position: relative;
}

nav li:not(.slogo) {
	display: inline-block;
	margin-left: 70px;
	padding-top: 10px;
	position: relative;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #e33e44;
}

nav a:not(.dp):not(.active)::before {
	content: '';
	display: block;
	height: 5px;
	background-color: #e33e44;
	position: absolute;
	top: 0;
	width: 0%;
	transition: all ease-in-out 250ms;
}

nav a:not(.dp):hover::before {
	width: 100%;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
	visibility: hidden;
	position: absolute;
	transition: visibility 0s, opacity 0.5s linear;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	opacity: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;	
}

.active::before {
	content: '';
	display: block;
	height: 5px;
	background-color: #e33e44;
	position: absolute;
	top: 0;
	width: 100%;
	transition: all ease-in-out 250ms;
}

#title{
    text-align:center;
	margin-top:7%;
	color: #ffffff;
}

#membres {
    display: box;
    color: #FFFFFF;
    overflow-x:auto;
    margin-top: 1%;
    margin-left: 50px;
	text-align: center;
}

h2 {
    color:#e33e44;
}

footer
{
    position: absolute;
    bottom: none;
    left: none;
    right: none;
    width: 100%;
    margin: 0;

    background: black;


}

.reseaux
{
    width: 40px;
    height: 40px;
    position: relative;
}

#BasDePage
{
    margin-left: 350px;
    margin-right: 350px;

    width: auto;
    display: flex;
    justify-content: space-around;
}

.apropos
{
    font-family: 'Lobster-corps';
    font-size: 18px;
    color: white;
    text-align: left;
    margin-left: 250px;
}

.BasTitre
{
    font-family: 'Lobster-corps';
    font-size: 23px;
    color: white;
    text-align: left;
    margin-left: 250px;

    border-bottom: 2px solid white;
}

.Marque
{
    font-family: 'Lobster-corps';
    font-size: 14px;
    color: white;
    text-align: left;
    margin-left: 250px;
}

@keyframes appear {
	from {opacity :0;}
    to {opacity :1;}
}

@-webkit-keyframes appear{
    from {opacity :0;}
    to {opacity :1;}
}

@keyframes signup-response{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes signup-response{
    from {opacity :1;}
    to {opacity :0;}
}

footer {
	
	border-top: 1px solid #e33e44;	
	background-color: #1c0808;
}

.reseaux
{
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 50%;
}

#BasDePage
{
    margin-left: 350px;
    margin-right: 350px;
    width: auto;
    display: flex;
    justify-content: space-around;
	font-family: sans-serif;
}

.apropos
{
    font-size: 18px;
    color: white;
    text-align: left;
    margin-left: 250px;
	font-family: sans-serif;
}

.BasTitre
{
    font-size: 23px;
    color: white;
    text-align: left;
    margin-left: 250px;
	font-family: sans-serif;
    border-bottom: 2px solid white;
}

.Marque
{
    font-size: 14px;
    color: white;
    text-align: left;
    margin-left: 250px;
	